h1 {
    color: blue;
    text-align: center;
}
a::before{
    content: "\21d2 Clique aqui: ";
    font-weight: bold;
}
p::selection{       /* Quando algo do P é selecionado, muda a cor do texto e do fundo*/
    color: crimson;
    background-color: cyan;
}